body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.round-image {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;

  img {
    width: 200px;
    height: 200px;
    vertical-align: top;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 14px;
  color: #777;
}

.text-color-class {
  color: #333;
}
